.artikel{
    font-size: 30px;
    text-align: center;
}
.card1{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #F5F5F5;
    margin-bottom: 10%;
    
}
.list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.detail{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    align-items: center;
}
.card-text-list{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 800px) {
    .list{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
  }