.auth {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.auth__side-hero img {
  width: 100%;
  min-width: 400px;
}

.auth__side-hero {
  position: relative;
}
.auth__side-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #436d9425;
}
