$primary: #436D94;
@import "../../node_modules/bootstrap/scss/bootstrap";

@import "admin.css";
@import "auth.css";
@import "components/button.css";
@import "artikel.css";

#root {
  color: #37495a;
  position: relative;
  max-width: 100vw;
}

// Table
th {
  text-transform: uppercase;
  white-space: nowrap;
}
th, td {
  padding: 10px 20px !important;
}
// End Table

.min-width-300 {
  min-width: 300px;
}
.min-width-150 {
  min-width: 150px;
}

.swal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
