.app-container {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}

/* Beranda */
.hero {
  position: relative;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/hero.jpg);
  background-size: cover;
  width: 100%;
  min-height: 400px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__text {
  background-color: rgba(0, 0, 0, 0.5);
}

.laporan-cta__image-container {
  max-height: 250px;
  overflow: hidden;
}
/* End Beranda */
