// Template
.app-container {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.content {
  flex-grow: 1;
}

.dropdown-item {
  display: flex;
  align-items: center;
}
.nav-link {
  display: flex;
  align-items: center;
  padding: 5px 20px !important;
  border-radius: 10px;
  transition: .15s;
}
.nav-link:hover {
  color: white;
  background-color: $primary;
}

// Beranda
.hero {
  position: relative;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/hero.jpg);
  background-size: cover;
  width: 100%;
  min-height: 400px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__text {
  background-color: rgba(0, 0, 0, 0.5);
}

.laporan-cta__image-container {
  max-height: 250px;
  overflow: hidden;
}


// Profil
.profil__header {
  background-color: darken($color: $primary, $amount: 15%);
}
